<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdvanceToNewWorkspace</key>
	<string>NO</string>
	<key>AlignSubmenus</key>
	<string>YES</string>
	<key>AppIconBalloons</key>
	<string>NO</string>
	<key>ArrowCursor</key>
	<array>
		<string>builtin</string>
		<string>left_ptr</string>
	</array>
	<key>Attraction</key>
	<string>NO</string>
	<key>AutoArrangeIcons</key>
	<string>NO</string>
	<key>AutoFocus</key>
	<string>YES</string>
	<key>BHMaximizeKey</key>
	<string>Mod4+KP_2</string>
	<key>BottomLeftResizeCursor</key>
	<array>
		<string>library</string>
		<string>fd_double_arrow</string>
	</array>
	<key>BottomRightResizeCursor</key>
	<array>
		<string>library</string>
		<string>bd_double_arrow</string>
	</array>
	<key>BounceAppIconsWhenUrgent</key>
	<string>YES</string>
	<key>CClipTitleColor</key>
	<string>#454045</string>
	<key>COMMENT</key>
	<string>/* ===== Mouse Cursors ======================================== */</string>
	<key>CirculateRaise</key>
	<string>YES</string>
	<key>ClipAutocollapseDelay</key>
	<string>1000</string>
	<key>ClipAutoexpandDelay</key>
	<string>600</string>
	<key>ClipAutolowerDelay</key>
	<string>1000</string>
	<key>ClipAutoraiseDelay</key>
	<string>600</string>
	<key>ClipMergedInDock</key>
	<string>NO</string>
	<key>ClipRaiseLowerKey</key>
	<string>None</string>
	<key>ClipTitleColor</key>
	<string>black</string>
	<key>ClipTitleFont</key>
	<string>Helvetica:pixelsize=10</string>
	<key>CloseKey</key>
	<string>None</string>
	<key>ColormapMode</key>
	<string>auto</string>
	<key>ColormapSize</key>
	<string>4</string>
	<key>CycleActiveHeadOnly</key>
	<string>NO</string>
	<key>CycleIgnoreMinimized</key>
	<string>NO</string>
	<key>CycleWorkspaces</key>
	<string>NO</string>
	<key>DialogHistoryLines</key>
	<string>500</string>
	<key>DisableAnimations</key>
	<string>NO</string>
	<key>DisableBlinking</key>
	<string>NO</string>
	<key>DisableClip</key>
	<string>YES</string>
	<key>DisableDithering</key>
	<string>NO</string>
	<key>DisableDock</key>
	<string>NO</string>
	<key>DisableDrawers</key>
	<string>NO</string>
	<key>DisableMiniwindows</key>
	<string>NO</string>
	<key>DisableWSMouseActions</key>
	<string>NO</string>
	<key>DoNotMakeAppIconsBounce</key>
	<string>YES</string>
	<key>DockHideShowKey</key>
	<string>Mod4+Shift+D</string>
	<key>DockRaiseLowerKey</key>
	<string>None</string>
	<key>DontConfirmKill</key>
	<string>NO</string>
	<key>DontLinkWorkspaces</key>
	<string>NO</string>
	<key>DoubleClickTime</key>
	<string>250</string>
	<key>DownResizeCursor</key>
	<array>
		<string>library</string>
		<string>wm_down_arrow</string>
	</array>
	<key>DragMaximizedWindow</key>
	<string>Move</string>
	<key>EdgeResistance</key>
	<string>30</string>
	<key>EnableWorkspacePager</key>
	<string>YES</string>
	<key>FTitleBack</key>
	<array>
		<string>solid</string>
		<string>black</string>
	</array>
	<key>FTitleColor</key>
	<string>white</string>
	<key>FocusNextKey</key>
	<string>Mod1+Tab</string>
	<key>FocusPrevKey</key>
	<string>Mod1+Shift+Tab</string>
	<key>FrameBorderColor</key>
	<string>black</string>
	<key>FrameBorderWidth</key>
	<string>1</string>
	<key>FrameFocusedBorderColor</key>
	<string>black</string>
	<key>FrameSelectedBorderColor</key>
	<string>white</string>
	<key>GroupNextKey</key>
	<string>Mod1+grave</string>
	<key>GroupPrevKey</key>
	<string>Mod1+Shift+grave</string>
	<key>HMaximizeKey</key>
	<string>Mod4+Right</string>
	<key>HelpBalloons</key>
	<string>NO</string>
	<key>HideKey</key>
	<string>Mod1+h</string>
	<key>HideOthersKey</key>
	<string>Mod1+Shift+h</string>
	<key>HighlightColor</key>
	<string>white</string>
	<key>HighlightTextColor</key>
	<string>black</string>
	<key>HorizontalResizeCursor</key>
	<array>
		<string>library</string>
		<string>wm_h_double_arrow</string>
	</array>
	<key>IconBack</key>
	<array>
		<string>tpixmap</string>
		<string>/Library/Images/common_Tile.tiff</string>
		<string>#000000</string>
	</array>
	<key>IconPath</key>
	<array>
		<string>~/Library/Images</string>
		<string>/usr/NextSpace/Images</string>
		<string>/usr/NextSpace/Apps/Workspace.app/Resources</string>
		<string>/Library/Images</string>
	</array>
	<key>IconPosition</key>
	<string>blh</string>
	<key>IconSize</key>
	<string>64</string>
	<key>IconSlideSpeed</key>
	<string>medium</string>
	<key>IconTitleBack</key>
	<string>black</string>
	<key>IconTitleColor</key>
	<string>white</string>
	<key>IconTitleFont</key>
	<string>Helvetica:pixelsize=9</string>
	<key>IconYardHideShowKey</key>
	<string>Mod4+Shift+Y</string>
	<key>IconificationStyle</key>
	<string>Zoom</string>
	<key>IgnoreFocusClick</key>
	<string>NO</string>
	<key>IgnoreGtkHints</key>
	<string>NO</string>
	<key>KbdModeLock</key>
	<string>YES</string>
	<key>LBCMaximizeKey</key>
	<string>Mod4+KP_1</string>
	<key>LHMaximizeKey</key>
	<string>Mod4+KP_4</string>
	<key>LTCMaximizeKey</key>
	<string>Mod4+KP_7</string>
	<key>LargeDisplayFont</key>
	<string>Helvetica:pixelsize=24</string>
	<key>LastWorkspaceKey</key>
	<string>None</string>
	<key>LeftResizeCursor</key>
	<array>
		<string>library</string>
		<string>wm_left_arrow</string>
	</array>
	<key>LowerKey</key>
	<string>None</string>
	<key>MaximizeKey</key>
	<string>Mod4+KP_Add</string>
	<key>MaximusKey</key>
	<string>Mod4+KP_5</string>
	<key>MenuDisabledColor</key>
	<string>#555555</string>
	<key>MenuScrollSpeed</key>
	<string>medium</string>
	<key>MenuStyle</key>
	<string>normal</string>
	<key>MenuTextBack</key>
	<array>
		<string>solid</string>
		<string>#aaaaaa</string>
	</array>
	<key>MenuTextColor</key>
	<string>black</string>
	<key>MenuTextExtendSpace</key>
	<string>0</string>
	<key>MenuTextFont</key>
	<string>Helvetica:pixelsize=12</string>
	<key>MenuTitleBack</key>
	<array>
		<string>solid</string>
		<string>black</string>
	</array>
	<key>MenuTitleColor</key>
	<string>white</string>
	<key>MenuTitleExtendSpace</key>
	<string>0</string>
	<key>MenuTitleFont</key>
	<string>Helvetica:bold:pixelsize=12</string>
	<key>MenuTitleMaxHeight</key>
	<string>22</string>
	<key>MenuTitleMinHeight</key>
	<string>22</string>
	<key>MiniPreviewSize</key>
	<string>128</string>
	<key>MiniaturizeKey</key>
	<string>Mod1+m</string>
	<key>MinimizeAllKey</key>
	<string>Mod1+Shift+m</string>
	<key>MiniwindowBack</key>
	<array>
		<string>tpixmap</string>
		<string>/Library/Images/common_MiniWindowTile.tiff</string>
		<string>#000000</string>
	</array>
	<key>MiniwindowPreviewBalloons</key>
	<string>NO</string>
	<key>MiniwindowTitleBalloons</key>
	<string>YES</string>
	<key>ModifierKey</key>
	<string>Mod4</string>
	<key>ModifierKeyLabels</key>
	<array>
		<string>Shift+</string>
		<string>Control+</string>
		<string>Mod1+</string>
		<string>Mod2+</string>
		<string>Mod3+</string>
		<string>Mod4+</string>
		<string>Mod5+</string>
	</array>
	<key>MouseBackwardButtonAction</key>
	<string>None</string>
	<key>MouseForwardButtonAction</key>
	<string>None</string>
	<key>MouseLeftButtonAction</key>
	<string>SelectWindows</string>
	<key>MouseMiddleButtonAction</key>
	<string>OpenWindowListMenu</string>
	<key>MouseRightButtonAction</key>
	<string>OpenApplicationsMenu</string>
	<key>MouseWheelAction</key>
	<string>None</string>
	<key>MouseWheelTiltAction</key>
	<string>None</string>
	<key>MoveCursor</key>
	<array>
		<string>library</string>
		<string>move</string>
	</array>
	<key>MoveDisplay</key>
	<string>None</string>
	<key>MoveResizeKey</key>
	<string>None</string>
	<key>MoveToLastWorkspaceKey</key>
	<string>None</string>
	<key>MoveToNextWorkspaceKey</key>
	<string>None</string>
	<key>MoveToNextWorkspaceLayerKey</key>
	<string>None</string>
	<key>MoveToPrevWorkspaceKey</key>
	<string>None</string>
	<key>MoveToPrevWorkspaceLayerKey</key>
	<string>None</string>
	<key>MoveToWorkspace10Key</key>
	<string>None</string>
	<key>MoveToWorkspace1Key</key>
	<string>None</string>
	<key>MoveToWorkspace2Key</key>
	<string>None</string>
	<key>MoveToWorkspace3Key</key>
	<string>None</string>
	<key>MoveToWorkspace4Key</key>
	<string>None</string>
	<key>MoveToWorkspace5Key</key>
	<string>None</string>
	<key>MoveToWorkspace6Key</key>
	<string>None</string>
	<key>MoveToWorkspace7Key</key>
	<string>None</string>
	<key>MoveToWorkspace8Key</key>
	<string>None</string>
	<key>MoveToWorkspace9Key</key>
	<string>None</string>
	<key>NewStyle</key>
	<string>old</string>
	<key>NextWorkspaceKey</key>
	<string>Control+Right</string>
	<key>NextWorkspaceLayerKey</key>
	<string>None</string>
	<key>NoWindowOverDock</key>
	<string>YES</string>
	<key>NoWindowOverIcons</key>
	<string>YES</string>
	<key>NormalCursor</key>
	<array>
		<string>builtin</string>
		<string>left_ptr</string>
	</array>
	<key>OmnipresentKey</key>
	<string>None</string>
	<key>OpaqueMove</key>
	<string>YES</string>
	<key>OpaqueMoveResizeKeyboard</key>
	<string>NO</string>
	<key>OpaqueResize</key>
	<string>NO</string>
	<key>OpenTransientOnOwnerWorkspace</key>
	<string>YES</string>
	<key>PTitleBack</key>
	<array>
		<string>solid</string>
		<string>#555555</string>
	</array>
	<key>PTitleColor</key>
	<string>white</string>
	<key>PixmapPath</key>
	<array>
		<string>~/Library/Images</string>
		<string>/usr/NextSpace/Images</string>
		<string>/usr/NextSpace/Apps/Workspace.app/Resources</string>
		<string>/Library/Images</string>
	</array>
	<key>PrevWorkspaceKey</key>
	<string>Control+Left</string>
	<key>PrevWorkspaceLayerKey</key>
	<string>None</string>
	<key>QuestionCursor</key>
	<array>
		<string>builtin</string>
		<string>question_arrow</string>
	</array>
	<key>RBCMaximizeKey</key>
	<string>Mod4+KP_3</string>
	<key>RHMaximizeKey</key>
	<string>Mod4+KP_6</string>
	<key>RTCMaximizeKey</key>
	<string>Mod4+KP_9</string>
	<key>RaiseAppIconsWhenBouncing</key>
	<string>NO</string>
	<key>RaiseDelay</key>
	<string>0</string>
	<key>RaiseKey</key>
	<string>None</string>
	<key>RaiseLowerKey</key>
	<string>None</string>
	<key>ResizeCursor</key>
	<array>
		<string>builtin</string>
		<string>sizing</string>
	</array>
	<key>ResizeDisplay</key>
	<string>None</string>
	<key>ResizeIncrement</key>
	<string>0</string>
	<key>ResizebarBack</key>
	<array>
		<string>solid</string>
		<string>#aaaaaa</string>
	</array>
	<key>RightResizeCursor</key>
	<array>
		<string>library</string>
		<string>wm_right_arrow</string>
	</array>
	<key>RootMenuKey</key>
	<string>None</string>
	<key>RunKey</key>
	<string>Mod4+R</string>
	<key>SaveSessionOnExit</key>
	<string>NO</string>
	<key>ScreenSwitchKey</key>
	<string>None</string>
	<key>ScrollableMenus</key>
	<string>NO</string>
	<key>SelectCursor</key>
	<array>
		<string>builtin</string>
		<string>cross</string>
	</array>
	<key>SelectKey</key>
	<string>None</string>
	<key>ShadeKey</key>
	<string>Mod4+KP_Subtract</string>
	<key>ShadeSpeed</key>
	<string>medium</string>
	<key>ShowClipTitle</key>
	<string>YES</string>
	<key>SingleClickLaunch</key>
	<string>NO</string>
	<key>SmoothWorkspaceBack</key>
	<string>NO</string>
	<key>SnapCornerDetect</key>
	<string>10</string>
	<key>SnapEdgeDetect</key>
	<string>1</string>
	<key>StickyIcons</key>
	<string>YES</string>
	<key>StrictWindozeCycle</key>
	<string>YES</string>
	<key>Superfluous</key>
	<string>NO</string>
	<key>SwitchPanelImages</key>
	<array>
		<string>swtile.png</string>
		<string>swback.png</string>
		<string>30</string>
		<string>40</string>
	</array>
	<key>SwitchPanelOnlyOpen</key>
	<string>NO</string>
	<key>THMaximizeKey</key>
	<string>Mod4+KP_8</string>
	<key>TextCursor</key>
	<array>
		<string>builtin</string>
		<string>xterm</string>
	</array>
	<key>TitleJustify</key>
	<string>center</string>
	<key>TopLeftResizeCursor</key>
	<array>
		<string>library</string>
		<string>bd_double_arrow</string>
	</array>
	<key>TopRightResizeCursor</key>
	<array>
		<string>library</string>
		<string>fd_double_arrow</string>
	</array>
	<key>UTitleBack</key>
	<array>
		<string>solid</string>
		<string>#aaaaaa</string>
	</array>
	<key>UTitleColor</key>
	<string>black</string>
	<key>UpResizeCursor</key>
	<array>
		<string>library</string>
		<string>wm_up_arrow</string>
	</array>
	<key>UseSaveUnders</key>
	<string>NO</string>
	<key>VMaximizeKey</key>
	<string>Mod4+Up</string>
	<key>VerticalResizeCursor</key>
	<array>
		<string>library</string>
		<string>wm_v_double_arrow</string>
	</array>
	<key>ViKeyMenus</key>
	<string>NO</string>
	<key>WaitCursor</key>
	<array>
		<string>builtin</string>
		<string>watch</string>
	</array>
	<key>WidgetColor</key>
	<array>
		<string>solid</string>
		<string>#aaaaaa</string>
	</array>
	<key>WindowListKey</key>
	<string>None</string>
	<key>WindowMenuKey</key>
	<string>None</string>
	<key>WindowPlaceOrigin</key>
	<array>
		<string>100</string>
		<string>100</string>
	</array>
	<key>WindowPlacement</key>
	<string>cascade</string>
	<key>WindowRelaunchKey</key>
	<string>Mod4+Shift+R</string>
	<key>WindowShortcut10Key</key>
	<string>None</string>
	<key>WindowShortcut1Key</key>
	<string>None</string>
	<key>WindowShortcut2Key</key>
	<string>None</string>
	<key>WindowShortcut3Key</key>
	<string>None</string>
	<key>WindowShortcut4Key</key>
	<string>None</string>
	<key>WindowShortcut5Key</key>
	<string>None</string>
	<key>WindowShortcut6Key</key>
	<string>None</string>
	<key>WindowShortcut7Key</key>
	<string>None</string>
	<key>WindowShortcut8Key</key>
	<string>None</string>
	<key>WindowShortcut9Key</key>
	<string>None</string>
	<key>WindowSnapping</key>
	<string>NO</string>
	<key>WindowTitleBalloons</key>
	<string>NO</string>
	<key>WindowTitleExtendSpace</key>
	<string>0</string>
	<key>WindowTitleFont</key>
	<string>Helvetica:bold:pixelsize=12</string>
	<key>WindowTitleMaxHeight</key>
	<string>22</string>
	<key>WindowTitleMinHeight</key>
	<string>22</string>
	<key>Workspace10Key</key>
	<string>None</string>
	<key>Workspace1Key</key>
	<string>None</string>
	<key>Workspace2Key</key>
	<string>None</string>
	<key>Workspace3Key</key>
	<string>None</string>
	<key>Workspace4Key</key>
	<string>None</string>
	<key>Workspace5Key</key>
	<string>None</string>
	<key>Workspace6Key</key>
	<string>None</string>
	<key>Workspace7Key</key>
	<string>None</string>
	<key>Workspace8Key</key>
	<string>None</string>
	<key>Workspace9Key</key>
	<string>None</string>
	<key>WorkspaceBack</key>
	<array/>
	<key>WorkspaceBorder</key>
	<string>AllDirections</string>
	<key>WorkspaceBorderSize</key>
	<string>0</string>
	<key>WorkspaceMapBack</key>
	<array>
		<string>solid</string>
		<string>black</string>
	</array>
	<key>WorkspaceMapKey</key>
	<string>None</string>
	<key>WorkspaceNameDisplayPosition</key>
	<string>center</string>
	<key>WorkspaceSpecificBack</key>
	<array/>
	<key>WrapAppiconsInDock</key>
	<string>NO</string>
	<key>WrapMenus</key>
	<string>NO</string>
</dict>
</plist>
